<div class="wrapper ">
    <app-navigation [current]="'cities'"></app-navigation>
    <div class="main-panel">
     <app-header [current]="'Cities - Super Admin'"></app-header>
     
      <div class="content">
        <div class="container-fluid">
            <button type="submit" class="btn btn-primary" (click)="add_city.open();resetAddData()"><i class="material-icons" style="font-size:1.7em;margin: 0;
              margin-bottom: 2px;cursor:pointer;">add</i> Add City</button>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Cities</h4>
                  <p class="card-category"> You can add, edit and delete the cities</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          City Name
                        </th>
                        <th style="text-align: center;">
                          Actions
                        </th>
                        
                      </thead>
                      <tbody>
                        <tr *ngFor="let city of cities">
                          <td>
                            {{ city.cid }}
                          </td>
                          <td>
                            {{ city.cname }}
                          </td>
                          <td class="td-actions text-center">
                              <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm" (click)="editCity(city)">
                                  <i class="material-icons">edit</i>
                                </button>
                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm" (click)="city_id = city.cid;confirm_delete.open()">
                                  <i class="material-icons">close</i>
                                </button>
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright float-right">
            &copy; Copyright, DriveCraft Labs
            <script>
              document.write(new Date().getFullYear())
            </script>
          </div>
        </div>
      </footer>
    </div>
  </div>


    <ngx-smart-modal #add_city identifier="add_city" class="add_city">
        <h1 style="text-align: center;height: 5%;
        margin-bottom: 20px;">Add a new City</h1>
        <div style="height: 80%;margin-bottom: 40px;">
            <div class="col-md-12" style="height: 100%;">
                <div class="card" style="height: 100%;display: block;
                padding-bottom: 32px;">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Enter City Name</h4>
                  </div>
                  <div class="card-body" style="height: 100%;margin-top: 30px;">
                    <form style="height: 100%;">
                        <div class="row" style="height: 100%;">
                            <div class="col-md-12">
                                
                                <div class="form-group">
                                    <label class="bmd-label-floating">City Name</label>
                                    <input type="text" class="form-control" [(ngModel)]="city_name" [ngModelOptions]="{standalone: true}">
                                  </div>
                              </div>
                              
                        </div>
                      
                     
                    </form>
                  </div>
                </div>
              </div>
        </div>
       
        <button (click)="add_city.close()" class="pull-right" style="background: #c7c7c7;
        color: #525252;
        padding: 11px 20px;
        font-size: 1.1em;
        margin-right: 10px;
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;">Close</button>
         <button type="submit" class="btn btn-primary pull-right" style="margin: 0;
         margin-right: 12px;" (click)="add_city_request()">Add City</button>
      </ngx-smart-modal>







      <ngx-smart-modal #edit_city identifier="edit_city" class="edit_city">
          <h1 style="text-align: center;height: 5%;
          margin-bottom: 20px;">Edit City</h1>
          <div style="height: 80%;margin-bottom: 40px;">
              <div class="col-md-12" style="height: 100%;">
                  <div class="card" style="height: 100%;display: block;
                  padding-bottom: 32px;">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">Edit City Name</h4>
                    </div>
                    <div class="card-body" style="height: 100%;margin-top: 30px;">
                      <form style="height: 100%;">
                          <div class="row" style="height: 100%;">
                              <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">City Name</label>
                                    <input type="text" class="form-control" [(ngModel)]="city_name" [ngModelOptions]="{standalone: true}">
                                  </div>
                                </div>
                          </div>                       
                      </form>
                    </div>
                  </div>
                </div>
          </div>
         
          <button (click)="edit_city.close()" class="pull-right" style="background: #c7c7c7;
          color: #525252;
          padding: 11px 20px;
          font-size: 1.1em;
          margin-right: 10px;
          border-radius: 5px;
          border: none;
          outline: none;
          cursor: pointer;">Close</button>
           <button type="submit" class="btn btn-primary pull-right" style="margin: 0;
           margin-right: 12px;" (click)="edit_city_request()">Update City</button>
        </ngx-smart-modal>






        <ngx-smart-modal #confirm_delete identifier="confirm_delete" class="confirm_delete short">
            <h1 style="text-align: center;height: 5%;
            margin-bottom: 20px;">Confirm Delete?</h1>
            <div style="margin-bottom: 30px;margin-top: 20px;">
              <p>Deleting city will result in deletion of all hospital, their admins, its users and their drivers under it, Confirm to delete this city? </p>
            </div>
            <button (click)="confirm_delete.close()" class="pull-right" style="background: #c7c7c7;
            color: #525252;
            padding: 11px 20px;
            font-size: 1.1em;
            margin-right: 10px;
            border-radius: 5px;
            border: none;
            outline: none;
            cursor: pointer;">Cancel</button>
             <button type="submit" class="btn btn-danger pull-right" style="margin: 0;
             margin-right: 12px;" (click)="delete_city()">Delete City</button>
          </ngx-smart-modal>